@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FontePlacas';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FontePlacas', sans-serif;
}